.image {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  box-shadow: black;
  text-align: center;
}

.image-slider {
  align-content: center;
  justify-items: center;
  padding: 5px;
  background-color: transparent;
}

.image-slider-btns-wrapper {
  border-radius: 5%;
  margin: 2px;
  padding: 5px;
  background-color: transparent;
}

.image-slider-btns {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  margin: 5px;
  background-color: transparent;
}

.image-wrapper {
  position: relative;
  text-align: left;
  width: 500px;
  height: 309px;
  overflow: hidden;
}

.text-box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.319);
  margin: 25px;
  color: bisque;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio {
  display: none;
}

.mute {
  text-align: center;
  color: red;
}

.arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 780px) {
  .image {
    width: 100%;
    height: 100%;
  }

  .image-wrapper {
    width: 400px;
    height: 500px;
  }

  .text-box {
    font-size: 8px;
    height: 50%;
    border-radius: 5px;
    width: 80%;
  }
}

@media (max-width: 500px) {
  .image {
    width: 100%;
    height: 100%;
  }

  .image-wrapper {
    width: 200px;
    height: 400px;
  }

  .text-box {
    margin: 10px auto;
    font-size: 5px;
    height: 60%;
    border-radius: 5px;
  }

  .image-slider-btns {
    justify-content: center;
  }
}

/* react-transition-group styles */
.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 1000ms ease-in-out;
}

.slide-right-exit {
  transform: translateX(0%);
}

.slide-right-exit-active {
  transform: translateX(-100%);
  transition: transform 1000ms ease-in-out;
}

.slide-left-enter {
  transform: translateX(-100%);
}

.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 1000ms ease-in-out;
}

.slide-left-exit {
  transform: translateX(0%);
}

.slide-left-exit-active {
  transform: translateX(100%);
  transition: transform 1000ms ease-in-out;
}
