.App {
  text-align: center;
  justify-content: center;
  padding: 5px;
  border: 1px black solid;
  border-radius: 5%;
  background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 0.3) 0%,
    transparent 70%
  );
  backdrop-filter: blur(25px);
}

.text {
  color: black;
  position: relative;
  font-size: medium;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
