.App {
  text-align: center;
  justify-content: center;
  padding: 5px;
  border: 1px black solid;
  border-radius: 5%;
  background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 0.3) 0%,
    transparent 70%
  );
  backdrop-filter: blur(8px);
  box-sizing: border-box;
}

.text {
  color: black;
  position: relative;
  font-size: medium;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.music {
  font-style: italic;
}

@media (max-width: 780px) {
  .App {
    width: 100%;
    padding: 2px;
    border-radius: 3%;
    background-size: cover;
  }

  .text {
    font-size: small;
  }

  #root {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .App {
    width: 100%;
    max-width: none;
    padding: 2px;
    border-radius: 3%;
    background-size: cover;
  }

  .text {
    font-size: smaller;
  }

  #root {
    padding: 1rem;
  }
}
